body
{
	background-image: url('../images/wallpaper_bin/wp_9.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-transition: background 4s ease-in-out;
	-moz-transition: background 4s ease-in-out;
	-o-transition: background 4s ease-in-out;
	transition: background 4s ease-in-out;
}

.page
{
	background-color: white;
	border-radius: 2px;
	border: 1px solid #e8e8e8;
	/*border: 2px solid #000000;*/
	margin-bottom: 15px;
	padding-bottom: 20px;
}

.shadow
{
	-webkit-box-shadow: 10px 10px 25px -6px rgba(0,0,0,0.22);
	-moz-box-shadow: 10px 10px 25px -6px rgba(0,0,0,0.22);
	box-shadow: 10px 10px 25px -6px rgba(0,0,0,0.22);
}

#twitter-widget-0
{
	-webkit-box-shadow: 10px 10px 25px -6px rgba(0,0,0,0.22);
	-moz-box-shadow: 10px 10px 25px -6px rgba(0,0,0,0.22);
	box-shadow: 10px 10px 25px -6px rgba(0,0,0,0.22);
}

.embed-container
{
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@font-face {
    font-family: Zanzibar SF;
    src: url(../fonts/Zanzibar SF.ttf);
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
.siteHeader
{
	font-family: Zanzibar SF;
	font-size: 2.5em;
    font-size: 13vw;
	color: white;
	margin-bottom: 10px;
}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.siteHeader
{
	font-family: Zanzibar SF;
	font-size: 5em;
    font-size: 7.5vw;
	color: white;
	margin-bottom: 10px;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
.siteHeader
{
	font-family: Zanzibar SF;
	font-size: 7.5em;
	color: white;
	margin-bottom: 10px;
}
}
/*Change links to green
a,a:visited,a:hover,a:active
{
	color: #03C03C;
}*/

.affix
{
	top: 0;
	width: 100%;
	z-index: 999;
}

.affix + .container-fluid
{
	padding-top: 70px;
}

.project-icon
{
	border: none;
	height: 32px;
	width: 32px;
	margin-right: 5px;
}

img.ss
{
	max-height: 300px;
	width: auto;
}

p.footer
{
	color: white;
	padding: 5px;
	opacity: 0.75;
}

#site-title
{
	margin-left: 15px;
	color: white;
}

span.label /*labels utilized for listing tools and technologies*/
{
	display: inline-block;
	font-size: 14pt;
	margin-bottom: 5px;
}

span.label-tool
{
	background-color: #8C6529;
}
