html {
  scroll-behavior: smooth; /* add smooth scrolling to id tags etc. */
}

body {
  background-image: url("../images/wallpaper_bin/wp_9.jpg"); /* starting background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  -webkit-transition: background 4s ease-in-out;
  -moz-transition: background 4s ease-in-out;
  -o-transition: background 4s ease-in-out;
  transition: background 4s ease-in-out;
}

/********************************/
/*********  nav bar  ************/
/********************************/
/* brand logo in navigation bar */
img.brand-logo {
  height: 1.75rem;
  margin-right: 0.3rem;
}
/* text of navbar branding */
.navbar-brand {
  font-weight: bolder;
}
/* menu icons for projects */
.menu-project-icon {
  height: 1rem;
  margin-right: 0.3rem;
}
.dropdown-menu {
  padding: 0rem;
}
.dropdown-item {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
.dropdown-divider {
  margin: 0rem;
}
/* background color of nav bar */
nav.bg-dark-yak {
  color: white;
  background-color: #222;
  border: 0.0625rem solid #080808;
}
/* change background button */
.change-background {
  color: white;
}
.change-background:hover {
  cursor: pointer;
}

/********************************/
/******** main content **********/
/********************************/
/* main content wrapper */
.page {
  background-color: white;
  border-radius: 0.3rem;
  margin: 0.95rem 0rem 0.95rem 0;
  padding: 0.95rem;
}
/* picture of isaacyakl */
img.me {
  width: 25%;
  margin: 0.3rem 0.95rem 0.95rem 0rem;
  border-radius: 0.3rem;
}
/* Control size of font awesome 5 icons used for social buttons */
p.social-icons > a > i.fab,
p.social-icons > a > i.fas,
p.social-icons > a > i.far {
  font-size: 1.75rem;
}
/* twitter feed */
div.tweets {
  border-radius: 0.3rem;
  padding: 0.95rem;
}
/* icons for project page headers */
.project-icon {
  height: 2.5rem;
  margin-right: 0.3rem;
}
/* footer */
footer {
  color: white;
  padding: 0.3rem;
  opacity: 0.75;
}
