@import 'tailwindcss';

@theme {
	--color-yak-green: #03c03c;
	--color-yak-green-hover: #048a2c;
	--color-yak-cyan: #0dd1d1;
	--color-yak-magenta: #9f00c5;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Variables */
	:root {
		/* Fonts */
		/* Heading font family variable located in layout.tsx */
		--font-family-body: Arial, Helvetica, sans-serif;
		--font-family-resume-body: Arial, Helvetica, sans-serif;

		/* Utilities */
		--container-width: 83vw;
		--space-unit: 0.5rem;

		/* Sizing */
		--default-font-size: 18px;
		--cta-btn-font-size: 1.2rem;

		/* Resume */
		--resume-width: calc(8.5 * 96px);
		--resume-height: calc(11 * 96px);
		--resume-margin: calc(0.5 * 96px);
		--resume-body-size: 10pt;
	}
	.heading-font-family {
		font-family: var(--font-family-headings);
	}

	html,
	body {
		font-family: var(--font-family-body);
		font-size: var(--default-font-size);
		@apply bg-white;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-family-headings);
		@apply font-thin pt-2 pb-4 uppercase;
	}
	h1 {
		@apply text-4xl;
	}
	h2 {
		@apply text-3xl;
		color: #333333;
	}
	h3 {
		@apply text-2xl;
		color: #666666;
	}
	h4 {
		@apply text-xl;
		color: #999999;
	}
	h5 {
		@apply text-lg;
		color: #999999;
	}
	h6 {
		@apply text-base;
	}
	a,
	a:visited,
	a:active {
		@apply text-yak-green transition-all duration-[250ms] ease-in-out no-underline cursor-pointer;
	}
	a:hover {
		@apply underline;
	}
	p {
		@apply pb-2 last:pb-0 leading-[1.35rem];
	}
	hr {
		@apply my-4 mx-auto border-0 bg-black w-5 h-[0.05rem];
	}
	ul {
		@apply list-disc py-2 pl-8;
	}
	header {
		background-image: url("/img/isaacyakl-hero-background-4k.jpg");
		@apply bg-no-repeat bg-center bg-cover min-h-[5rem];
	}
	main {
		@apply flex flex-col flex-wrap justify-center items-center;
	}
	section {
		@apply max-w-screen-xl m-auto w-screen p-2;
	}
	footer {
		@apply text-sm bg-no-repeat bg-center bg-cover;
		background-image: url("/img/isaacyakl-hero-background-4k.jpg");
	}
	input[type="text"] {
		@apply rounded w-full bg-neutral-200 p-2 border-0 shadow-inner;
	}
}
@layer components {
	button,
	.btn {
		@apply inline-block text-xl m-1 py-2 px-3 w-80 text-white bg-yak-green rounded transition-all duration-300 ease-in-out border-0 hover:bg-gray-400 hover:no-underline;
		filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
	}
	.yakground-image {
		background-image: url("/img/isaacyakl-hero-background-4k.jpg");
		@apply bg-cover bg-fixed min-h-screen;
	}
	#backToTop:hover {
		transform: translateY(-0.25rem);
	}
	section img {
		@apply m-auto;
	}
}
@layer utilities {
	.max-width {
		@apply max-w-screen-xl;
	}
	.cta-arrow::after {
		color: inherit;
		content: " \2192";
	}
	.yak-shadow {
		box-shadow: #4242425e 4px 9px 8px 0px;
	}
}

@media print {
	.dont-print {
		@apply hidden;
	}
	.yak-shadow {
		box-shadow: none;
	}
}
