/* Variables */
:root {
	/* Colors */
	--primary-accent: #03c03c;
	--secondary-accent: #0dd1d1;
	--background-color: #ffffff;
	--text-color: #000000;

	/* Utilities */
	--container-width: 95%;
	--space-unit: 0.5rem;
	--border-radius: 0.1rem;

	/* Sizing */
	--hire-btn-font-size: 1.4rem;
}

/* All */
*,
html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", Arial, "Bebas Neue", serif;
	font-size: 1.68vmax;
}

a,
a:visited,
a:hover,
a:active {
	color: var(--primary-accent);
	text-decoration: none;
}

hr {
	border: 0;
	background-color: var(--text-color);
	height: 0.05rem;
	width: 7vw;
}

.no-select {
	user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Bebas Neue", serif;
	font-weight: 100;
	padding-bottom: var(--space-unit);
}

h1 {
	font-size: 2.15rem;
}

h2 {
	font-size: 1.95rem;
}

h3 {
	font-size: 1.65rem;
	color: #424242;
}

h4 {
	font-size: 1.35rem;
	color: #424242;
}

h5 {
	font-size: 1.25rem;
	color: #666666;
}

h6 {
	font-size: 1.1rem;
	color: #666666;
}

p {
	padding: var(--space-unit) 0rem;
}

ul {
	padding: var(--space-unit) 0rem;
}

/* Navigation */
nav {
	width: var(--container-width);
	margin: auto;
	padding: var(--space-unit) 0rem;
}

div.nav-dash {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}

div.branding-container a,
div.branding-container a:visited,
div.branding-container a:active,
div.branding-container a:hover {
	color: black;
	text-decoration: none;
}

img.logo {
	height: 1.75rem;
	width: 1.75rem;
}

span.site-wordmark {
	font-family: "Bebas Neue", serif;
	font-weight: 100;
	font-size: 2.25rem;
	padding-left: 0.1rem;
}

div.branding-container {
	justify-self: left;
}

div.hamburger {
	justify-self: right;
	width: 1.68rem;
	cursor: pointer;
}

ul.nav-menu {
	list-style-type: none;
	transition: all 0.5s 0s ease;
	max-height: 9em;
	overflow: hidden;
}

li.nav-menu-item {
	background-color: var(--background-color);
	font-family: "Bebas Neue", serif;
	font-weight: 100;
	text-align: right;
	letter-spacing: 0.15em;
	padding: var(--space-unit) calc(var(--space-unit) * 2);
}

li.nav-menu-item:hover {
	color: var(--primary-accent);
	background-color: #f3f3f3;
}

li.nav-menu-item.active {
	color: var(--secondary-accent);
	background-color: #e0e0e0;
}

ul.nav-menu a {
	color: var(--text-color);
}

ul.nav-menu.hidden {
	max-height: 0em;
	padding: 0em;
}

/* Header */
header {
	background-image: url("/img/isaacyakl-hero-background-4k.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 5rem;
	display: flex;
	align-items: center;
	align-content: center;
}

header.hero {
	min-height: 100vh;
	opacity: 0.95;
	overflow: hidden;
}

div.header-container h1 {
	font-family: "Bebas Neue", serif;
	font-weight: 100;
	padding: 0;
}

div.header-container {
	width: var(--container-width);
	margin: auto;
}

h1.hero-title {
	font-size: 14vw;
	line-height: 11vw;
	flex-grow: 1;
	padding: var(--space-unit) 0rem;
}

header.hero hr {
	width: 20vw;
	margin: var(--space-unit) 0rem;
}

div.seeking,
div.seeking strong {
	font-size: 2vmax;
	padding: var(--space-unit) 0rem;
}

div.seeking svg {
	height: 1.5vmax;
	width: 2vmax;
	padding-right: 0.25rem;
}

/* Body */
body {
	background-color: var(--background-color);
}

main {
	width: var(--container-width);
	margin: auto;
}

div.social-icons {
	padding: var(--space-unit) 0rem;
}

div.social-icons svg {
	color: var(--text-color);
	transition: color 0.5s 0s ease;
	width: 1.5rem;
	margin-right: var(--space-unit);
}

div.social-icons svg:hover {
	color: var(--secondary-accent);
}

section {
	padding: calc(var(--space-unit) * 2) 0rem;
}

#role-experience {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
	align-content: stretch;
	padding: var(--space-unit) 0rem;
}

div.role-experience-container {
	font-family: "Bebas Neue", serif;
	font-weight: 100;
	text-transform: uppercase;
	display: grid;
	grid-template-columns: 1fr auto;
	justify-items: start;
	margin: 0.125rem calc(var(--space-unit) * 2) 0.125rem 0rem;
}

div.role-experience-time {
	font-family: inherit;
	font-size: 2.5rem;
	font-weight: inherit;
	line-height: 2.5rem;
	color: #424242;
	grid-row: 1/3;
	align-self: start;
	justify-self: end;
	margin-right: 0.3rem;
	max-width: 2rem;
	overflow: hidden;
	white-space: nowrap;
}

div.role-experience-unit {
	font-family: inherit;
	font-size: 0.75rem;
	font-weight: inherit;
	line-height: 0.75rem;
	color: #7d7d7d;
	align-self: end;
	max-width: 15rem;
	overflow: hidden;
	white-space: nowrap;
}

div.role-experience-role {
	font-family: inherit;
	font-weight: inherit;
	line-height: 1rem;
	color: #424242;
	align-self: start;
	max-width: 9rem;
	overflow: hidden;
	white-space: nowrap;
}

div.skills-container {
	display: flex;
	flex-wrap: wrap;
}

ul.skills {
	list-style-type: none;
	margin: 0rem calc(var(--space-unit) * 2) 0rem 0rem;
}

ul.skills li {
	padding-bottom: calc(var(--space-unit) / 1.3);
}

footer {
	background-image: url("/img/isaacyakl-hero-background-4k.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

footer * {
	font-size: 0.75rem;
}

div.footer-container {
	width: var(--container-width);
	margin: auto;
	text-align: center;
}

footer div.social-icons {
	padding: calc(var(--space-unit) * 4) 0rem;
}

footer img.logo {
	height: 0.9rem;
	width: 0.9rem;
}

footer span.site-wordmark {
	font-size: 1rem;
}

footer > div.hire-btn-container {
	margin-top: var(--hire-btn-font-size);
}

div.hire-btn-container {
	position: relative;
	top: calc(var(--hire-btn-font-size) * (-1));
	width: var(--container-width);
	margin: auto;
	margin-bottom: calc(var(--hire-btn-font-size) * (-1));
	text-align: center;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
	z-index: 1;
}

a.btn,
.btn {
	display: inline-block;
	margin: calc(var(--space-unit) / 2);
	padding: 0.33em 1em;
	color: white;
	background: var(--primary-accent);
	border-radius: var(--border-radius);
	transition: all 0.5s 0s ease;
}

a.btn:hover,
.btn:hover {
	filter: grayscale(30%);
}

a.hire,
.hire {
	font-size: var(--hire-btn-font-size);
	border: 0;
	cursor: pointer;
}

a.hire:hover,
.hire:hover {
	transform: scale(1.04, 1.04);
}

.cta-arrow::after {
	content: " \2192";
}

.cta-link::after {
	content: " \2197";
}

ul.experience-tags li {
	font-size: 0.7rem;
	display: inline-block;
	color: white;
	background-color: var(--secondary-accent);
	border-radius: var(--border-radius);
	padding: calc(var(--space-unit) * 0.65) calc(var(--space-unit) * 1.65);
	margin-bottom: calc(var(--space-unit) * 0.65);
	margin-right: calc(var(--space-unit) * 0.65);
	transition: all 0.5s 0s ease;
}

ul.experience-tags li:hover {
	filter: grayscale(25%);
}

a.experience-links {
	color: var(--primary-accent);
	background-color: white;
	border: 1px solid var(--primary-accent);
}

a.experience-links:hover {
	color: white;
	background-color: var(--primary-accent);
}

div.experience-slider {
	margin-bottom: var(--space-unit);
}

img.experience-slide {
	max-width: 100%;
	max-height: 90vh;
	object-fit: contain;
}

div.swiper-wrapper {
	align-items: center;
}

div.swiper-slide {
	text-align: center;
}

input[type="text"] {
	width: 100%;
	background-color: #dcdcdc;
	border-radius: calc(var(--border-radius) * 3);
	padding: var(--space-unit);
	border: none;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
}

div.experience-card p.summary-body {
	max-height: 6em;
	overflow: hidden;
	text-overflow: ellipsis;
	content: "";
	position: relative;
}
/* 
Sources:
https://stackoverflow.com/questions/22808040/fading-out-text-on-overflow-with-css-if-the-text-is-bigger-than-allowed
http://jsfiddle.net/b9vtW/4/
*/
div.experience-card p.summary-body:after {
	content: "";
	width: 100%;
	height: 50%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: linear-gradient(transparent 0%, var(--background-color));
}
