/* Variables */
:root {
	/* Colors */
	--primary-accent: #03c03c;
	--secondary-accent: #0dd1d1;
	--background-color: #ffffff;
	--text-color: #000000;

	/* Utilities */
	--container-width: 83vw;
	--space-unit: 0.5rem;
	--border-radius: 0.1rem;

	/* Sizing */
	--cta-btn-font-size: 1.4rem;

	/* Resume */
	--resume-width: calc(8.5 * 96px);
	--resume-height: calc(11 * 96px);
	--resume-margin: calc(0.5 * 96px);
}

/* All */
*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: "Roboto", Arial, "Bebas Neue", serif;
	font-size: 2vmax;
}

a,
a:visited,
a:active {
	transition: all 0.25s ease-in;
	color: var(--primary-accent);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #048a2c;
}

button.link {
	border: none;
	background: none;
	cursor: pointer;
}

hr {
	border: 0;
	background-color: var(--text-color);
	height: 0.05rem;
	width: 7vw;
}

.no-select {
	user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Bebas Neue", serif;
	font-weight: 100;
	padding: 0.5em 0em 1em 0em;
}

h1 {
	font-size: 2.25rem;
}

h2 {
	font-size: 2rem;
	color: #333333;
}

h3 {
	font-size: 1.7rem;
	color: #666666;
}

h4 {
	font-size: 1.5rem;
	color: #999999;
}

h5 {
	font-size: 1.4rem;
	color: #999999;
}

h6 {
	font-size: 1.3rem;
}

p {
	padding: var(--space-unit) 0rem;
	line-height: 1.35;
}

ul {
	padding: var(--space-unit) 0rem;
	padding-left: calc(var(--space-unit) * 4);
}

.max-page-width {
	max-width: var(--container-width);
	margin: auto;
}

/* Navigation */
nav {
	width: 98vw;
	margin: auto;
	padding: var(--space-unit);
}

div.nav-dash {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}

div.branding-container a,
div.branding-container a:visited,
div.branding-container a:active,
div.branding-container a:hover {
	color: black;
	text-decoration: none;
}

.logo {
	display: inline-block;
	height: 1.75rem;
	width: 1.75rem;
}

span.site-wordmark {
	font-family: "Bebas Neue", serif;
	font-weight: 100;
	font-size: 2.25rem;
	padding-left: 0.1rem;
}

div.branding-container {
	justify-self: left;
}

div.hamburger {
	justify-self: right;
	cursor: pointer;
}

div.hamburger svg {
	width: 1.68rem;
	height: 1.68rem;
}

ul.nav-menu {
	list-style-type: none;
	transition: all 0.5s 0s ease;
	max-height: 12em;
	overflow: hidden;
	padding: 0rem;
	background-color: var(--background-color);
	font-family: "Bebas Neue", serif;
	font-weight: 100;
	text-align: right;
	letter-spacing: 0.15em;
}

ul.nav-menu.hidden {
	max-height: 0em;
	padding: 0em;
}

ul.nav-menu a {
	display: block;
	transition: none;
	color: var(--text-color);
	padding: var(--space-unit) calc(var(--space-unit) * 2);
}

ul.nav-menu a:hover {
	color: var(--primary-accent);
	background-color: #f3f3f3;
}

ul.nav-menu li.active a {
	color: var(--secondary-accent);
	background-color: #e0e0e0;
}

/* Header */
header {
	background-image: url("/img/isaacyakl-hero-background-4k.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 5rem;
	display: flex;
	align-items: center;
	align-content: center;
}

header.hero {
	min-height: 100vh;
	opacity: 0.95;
	overflow: hidden;
}

div.header-container h1 {
	font-family: "Bebas Neue", serif;
	font-weight: 100;
	padding: 0;
}

div.header-container {
	width: var(--container-width);
	margin: auto;
}

div.header-container hr {
	margin-bottom: 1rem;
}

h1.hero-title {
	font-size: 14vw;
	line-height: 11vw;
	flex-grow: 1;
	padding: var(--space-unit) 0rem;
}

header.hero hr {
	width: 20vw;
	margin: var(--space-unit) 0rem;
}

div.seeking,
div.seeking strong {
	font-size: 2.4vmax;
	padding: var(--space-unit) 0rem;
}

div.seeking svg {
	height: 1.8vmax;
	width: 2.4vmax;
	padding-right: 0.25rem;
}

/* Body */
body {
	background-color: var(--background-color);
}

main {
	margin: auto;
}

main img {
	max-width: var(--container-width);
}

.ss {
	border: rgba(0, 0, 0, 0.4) solid 1px;
}

.work img {
	border: rgba(0, 0, 0, 0.4) solid 1px;
	display: block;
	margin: auto;
}

.work-details-body {
	background-color: #f3f3f3;
	margin-top: calc(var(--space-unit) * 4);
	padding-top: calc(var(--space-unit) * 4);
}

div.social-icons {
	padding: var(--space-unit) 0rem;
}

div.social-icons svg {
	color: var(--text-color);
	transition: color 0.5s 0s ease;
	width: 1.85rem;
	height: 1.85rem;
	margin-right: calc(var(--space-unit) * 1.5);
}

div.social-icons svg:hover {
	color: var(--secondary-accent);
}

section {
	max-width: var(--container-width);
	margin: auto;
	padding: calc(var(--space-unit) * 2) 0rem calc(var(--space-unit) * 4) 0rem;
}

#position-experience {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
	align-content: stretch;
	padding: var(--space-unit) 0rem;
}

div.position-experience-container {
	font-family: "Bebas Neue", serif;
	font-weight: 100;
	text-transform: uppercase;
	display: grid;
	grid-template-columns: 1fr auto;
	justify-items: start;
	margin: 0.125rem calc(var(--space-unit) * 2) 0.125rem 0rem;
}

div.position-experience-time {
	font-family: inherit;
	font-size: 4.5rem;
	font-weight: inherit;
	line-height: 4.5rem;
	color: #424242;
	grid-row: 1/3;
	align-self: start;
	justify-self: end;
	margin-right: 0.3rem;
	max-width: 4rem;
	overflow: hidden;
	white-space: nowrap;
}

div.position-experience-unit {
	font-family: inherit;
	font-size: 1.55rem;
	font-weight: inherit;
	line-height: 1.55rem;
	color: #7d7d7d;
	align-self: end;
	max-width: 16rem;
	overflow: hidden;
	white-space: nowrap;
}

div.position-experience-position {
	font-family: inherit;
	font-size: 1.55rem;
	font-weight: inherit;
	line-height: 1.55rem;
	color: #424242;
	align-self: start;
	max-width: 16rem;
	overflow: hidden;
	white-space: nowrap;
}

div.skills-container {
	display: flex;
	flex-wrap: wrap;
}

ul.skills {
	list-style-type: none;
	font-size: 1.25rem;
	margin: 1rem calc(var(--space-unit) * 2) 1rem 0rem;
	border-left: 2px solid #424242;
	border-bottom: 2px solid #424242;
	padding-left: 1rem;
	min-width: 10em;
}

ul.skills li {
	padding-bottom: calc(var(--space-unit) * 1.4);
	margin-bottom: var(--space-unit);
}

ul.skills a {
	color: var(--text-color);
}

footer {
	background-image: url("/img/isaacyakl-hero-background-4k.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

footer * {
	font-size: 0.75rem;
}

div.footer-branding {
	width: var(--container-width);
	margin: auto;
	text-align: center;
}

footer div.social-icons {
	padding: calc(var(--space-unit) * 4) 0rem;
}

footer .logo {
	height: 0.9rem;
	width: 0.9rem;
}

footer span.site-wordmark {
	font-size: 1rem;
}

footer > div.cta-btn-container {
	margin-top: var(--cta-btn-font-size);
}

div.cta-btn-container {
	position: relative;
	top: calc(var(--cta-btn-font-size) * (-1));
	width: var(--container-width);
	margin: auto;
	margin-bottom: calc(var(--cta-btn-font-size) * (-1));
	text-align: center;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
	z-index: 1;
}

a.btn,
.btn {
	display: inline-block;
	margin: calc(var(--space-unit) / 2);
	padding: 0.33em 1em;
	color: white;
	background: var(--primary-accent);
	border-radius: var(--border-radius);
	transition: all 0.5s 0s ease;
}

a.btn:hover,
.btn:hover {
	filter: saturate(115%);
}

a.cta,
.cta {
	font-size: var(--cta-btn-font-size);
	border: 0;
	cursor: pointer;
}

a.cta:hover,
.cta:hover {
	transform: scale(1.04, 1.04);
}

.cta-arrow::after {
	content: " \2192";
}

.cta-link::after {
	content: " \2197";
}

.work-links {
	padding: calc(var(--space-unit) * 2) 0rem;
}

ul.work-tags {
	padding: 0rem;
}

ul.work-tags li {
	display: inline-block;
}

ul.work-tags a {
	font-size: 1rem;
	display: inline-block;
	color: white;
	background-color: var(--secondary-accent);
	border-radius: var(--border-radius);
	padding: var(--space-unit) calc(var(--space-unit) * 2);
	margin-bottom: calc(var(--space-unit));
	margin-right: calc(var(--space-unit));
	transition: all 0.5s 0s ease;
	border: 1px solid var(--secondary-accent);
}

ul.work-tags a:hover {
	color: var(--secondary-accent);
	background-color: rgba(0, 0, 0, 0);
}

a.work-link {
	font-size: 1.2rem;
	color: white;
	background-color: white;
	border: 1px solid var(--primary-accent);
	background-color: var(--primary-accent);
}

a.work-link:hover {
	color: var(--primary-accent);
	background-color: rgba(0, 0, 0, 0);
}

div.work-slider {
	margin-bottom: var(--space-unit);
}

div.swiper-wrapper {
	align-items: center;
}

div.swiper-slide {
	text-align: center;
}

input[type="text"] {
	font-size: 1rem;
	width: 100%;
	background-color: #dcdcdc;
	border-radius: calc(var(--border-radius) * 3);
	padding: var(--space-unit);
	border: none;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
}

div.work-browser a {
	color: var(--text-color);
}

section.work-view {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

div.work-card a {
	display: block;
}

div.work-card {
	transition: all 0.5s ease;
	overflow: hidden;
	border-radius: calc(var(--border-radius) * 3);
	cursor: pointer;
	max-width: calc(var(--container-width) / 2 - var(--space-unit) / 2);
	margin-bottom: var(--space-unit);
}

div.work-card:hover {
	filter: saturate(125%);
	transform: scale(1.01);
	transform-origin: top center;
	box-shadow: 0px 5px 5px #e4e4e4;
}

.work-card-summary h2 {
	font-size: 2rem;
	padding: 0 0 var(--space-unit) 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.work-card-summary h3 {
	font-size: 1rem;
	padding: 0 0 var(--space-unit) 0;
}

div.work-card p.summary-body {
	padding: 0;
	margin: 0;
	max-height: 6em;
	overflow: hidden;
	text-overflow: ellipsis;
	content: "";
	position: relative;
}

/* 
Sources:
https://stackoverflow.com/questions/22808040/fading-out-text-on-overflow-with-css-if-the-text-is-bigger-than-allowed
http://jsfiddle.net/b9vtW/4/
*/

div.work-card p.summary-body:after {
	content: "";
	width: 100%;
	height: 50%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: linear-gradient(transparent 0%, var(--background-color));
}

div.work-card-summary {
	font-size: 0.65rem;
	margin-top: 10px;
	padding: var(--space-unit);
}

div.work-card-border {
	height: 0.4rem;
	background-color: #099292;
	border-top: 0.2rem solid #0dd1d1;
}

div.experience-timeline {
	font-family: "Bebas Neue", serif;
	font-weight: 100;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	border-left: 0.3rem solid #099292;
}

div.experience-timeline p {
	margin-left: 2rem;
}

div.experience-timeline h3 {
	color: #099292;
}

div.experience-timeline h3::before {
	content: "—";
	font-size: 3rem;
}

div.experience-timeline span {
	display: block;
	margin-left: 2rem;
	color: #666666;
}

em.highlight {
	font-style: normal;
	text-decoration: underline;
	text-decoration-color: #048a2c;
}

.copyright {
	font-size: small;
}

main.more {
	text-align: center;
}

.more-link-container {
	margin: auto;
	display: grid;
	grid-template-columns: 1fr;
}

a.more-links {
	transition: all 0.25s 0s ease;
}

div.more-background {
	background-image: url("/img/isaacyakl-hero-background-4k.jpg");
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
}

.text-center {
	text-align: center;
}

.drop-shadow {
	margin-bottom: 5px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.breadcrumbs {
	font-size: 0.75rem;
	padding: var(--space-unit) 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	align-content: space-around;
}

.breadcrumbs a {
	text-decoration: underline;
}

.resumeBackground {
	margin: 0 auto;
	background-image: url("/img/isaacyakl-hero-background-4k.jpg");
	background-size: cover;
	padding: calc(var(--resume-margin) / 2);
	max-height: 100%;
	max-width: 100%;
	overflow: scroll;
}

.resumeActions {
	position: relative;
	width: var(--resume-width);
	height: 0px;
	font-size: calc(var(--resume-margin) / 2);
	margin: 0 auto;
	text-align: right;
	top: 10px;
	right: 10px;
}

.resumeActions svg {
	color: var(--primary-accent);
	height: calc(var(--resume-margin) / 2);
	width: calc(var(--resume-margin) / 2);
	padding: 5px;
	margin-left: 5px;
	vertical-align: middle;
	box-sizing: content-box;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0);
}

.resumeActions svg:hover {
	color: white;
	background-color: var(--primary-accent);
}

.resumePaper {
	background-color: white;
	width: var(--resume-width);
	height: var(--resume-height);
	margin: auto;
	padding: var(--resume-margin);
	box-shadow: #4242425e 4px 9px 8px 0px;
}

.resumeContent {
	width: 100%;
	max-height: calc(var(--resume-height) - var(--resume-margin) * 2);
	overflow: hidden;
}

.resumeContent * {
	font-size: 12pt;
	padding: 0;
	margin: 0 0 0.125in 0;
	box-sizing: border-box;
}

.resumeContent h1 {
	font-size: 32pt;
	text-align: center;
}

.resumeContent h1 + h2 {
	font-size: 18pt;
	text-align: center;
}

.resumeContent .contact-info {
	text-align: center;
}

.resumeContent h2 {
	font-size: 18pt;
}

.resumeContent p,
.intro {
}

@media print {
	.dont-print {
		display: none;
	}

	div.work-card p.summary-body:after {
		display: none;
	}

	div.work-card p.summary-body {
		max-height: 7em;
	}

	footer {
		background: none;
	}

	div.more-background {
		background-attachment: initial;
	}

	.resumeBackground {
		background: none;
		padding: 0in;
		margin: 0in;
		overflow: hidden;
	}

	.resumePaper {
		width: initial;
		height: initial;
		margin: 0in;
		padding: 0in;
		box-shadow: none;
	}
}
