*,
html,
body {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
}

* {
	box-sizing: border-box;
}

header {
}

header.hero {
}

main {
}

span.site-wordmark {
	font-family: "Bebas Neue", cursive;
	font-size: 3rem;
}
